.center-xy {
  display: grid;
  place-items: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.demo--accent-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  padding: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
  border-radius: 10px;
  background: #352e3f;
  color: #d7aefb;
}

.content .info-box p {
  color: inherit;
}
